@model PPKBeverage.Models.LoaiSanPham

@{
    ViewData["Title"] = "EditLoaiSanPham";
    Layout = "_Layout";

}

<h1>EditLoai</h1>

<h4>LoaiSanPham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditLoai">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoaiId" class="control-label"></label>
                <input disabled="true" asp-for="LoaiId" class="form-control" />
                <span asp-validation-for="LoaiId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenLoai" class="control-label"></label>
                <input asp-for="TenLoai" class="form-control" />
                <span asp-validation-for="TenLoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

